/** Add a comment at the beginning of your CSS styles with your name**/
/** Sarah Todd's Styles **/
.sarah-todd-advice {
  width: 100%;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
}

.sarah-todd-advice h1 {
  font-weight: 700;
  color: coral;
  background-color:white;
}

.sarah-todd-advice h4 {
  font-size: 24px;
  font-weight: 700;
  color: navy;
  text-align: left;
  text-transform: uppercase;
}

.sarah-todd-advice p{
  font-size: 16px;
  font-weight: 400;
}

.sarah-todd-advice footer {
  background-color:white;
  color:darkgrey;
}

/**End Sarah Todd's Styles **/
